<h1>Bienvenue sur l'app gobike en version beta beta</h1>

<div class="">
  <%= link_to 'Services de vélo partagés en France', services_index_path, class: "badge badge-primary" %>
</div>

<div class="">
  <%= link_to 'Stations vélib', velib_stations_index_path, class: "badge badge-primary" %>
</div>
